.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signIn__logo {
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: red;
}

.signIn__logo span {
  color: black;
}

.signIn__block {
  height: 80vh;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.google__button {
  border-radius: 1rem;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.17);
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--gray-500);
  cursor: pointer;
}

.google__logo {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
