.logo {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--red-500);
  margin-left: 1rem;
  font-family: "Raleway", sans-serif;
}

.logo span {
  color: black;
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem 1rem 0rem;
  margin: 0 1rem;
  border-bottom: 1px solid var(--gray-300);
}

.profile {
  width: 3rem;
  height: 3rem;
  fill: var(--gray-500);
}

.rightPanel {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
}

.button {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  color: var(--gray-500);
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.27);
  cursor: pointer;
}
